
<%- include("partials/header"); -%>
  <div class="col-lg-6 col-md-4 col-sm-12">
     <h1 class="startheading" style="color:#1abc9c;"><%=title%></h1>
     <h3 style="color:#1abc9c;">BY~ <%=pname%></h3>
     <p class="start"><%=content%></p>
  </div>
  <div class="col-12 col-lg-6">
     <img class="composeimg" src="https://i.pinimg.com/originals/66/87/45/66874540d2ea5399936f3554f727172b.gif"/>
  </div>
<%- include("partials/footer"); -%>
